@import "./theme.scss";

.main-container {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: $primary-bg;
  color: $primary-text-color;
  font-family: "Open Sans", sans-serif;
  .content-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: auto;
  }
}
