$primary-bg: #616161;
$primary-bg-light: #8e8e8e;
$primary-bg-dark: #373737;
$primary-text-color: #fff;

$secondary-bg: #4caf50;
$secondary-bg-light: #80e27e;
$secondary-bg-dark: #087f23;
$secondary-text-color: #000;
